@using MyGym.Common.Enum
@model MyGym.Common.UserInformation
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/MainLayout.cshtml";
}
<form id="registerform" action="/Usuario/Edit?userid=@Model.UserID" method="post">
    <div class="panel panel-info">
        <div class="panel-heading">
            Informacion Personal
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td><label>Nombres</label></td>
                    <td><input type="text" name="userdata.Names" value="@Model.Names" placeholder="Juan Carlos" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label>Apellido Paterno</label></td>
                    <td><input type="text" name="userdata.FirstName" value="@Model.FirstName" placeholder="Cortez" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label>Apellido Materno</label></td>
                    <td><input type="text" name="userdata.LastName" value="@Model.LastName" placeholder="Fernandez" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label>Fecha de Nacimiento</label></td>
                    <td>
                        <input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Informacion de Cuenta
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="email" name="userdata.Email" value="@Model.Email" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label>Nick : </label></td>
                    <td><input type="text" name="userdata.Nick" value="@Model.Nick" placeholder="Juan" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label>Contraseña : </label></td>
                    <td><input type="password" name="userdata.Password" value="@Model.Password" class="form-control" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Informacion Fisica
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td><label>Peso</label></td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="userdata.Weight" value="@Model.Weight" placeholder="69" class="form-control" />
                            <span class="input-group-addon">grs</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Altura</label></td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="userdata.Heigth" value="@Model.Height" placeholder="1.70" class="form-control" />
                            <span class="input-group-addon">mts</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Sexo</label></td>
                    <td>
                        <select name="userdata.Sex" >
                            @switch (Model.Sex)
                            {
                                case Sexo.Femenino:
                                    <option value="Femenino" selected="selected">@Sexo.Femenino</option>
                                    <option value="Masculino">@Sexo.Masculino</option>
                                    break;
                                case Sexo.Masculino:
                                    <option value="Femenino">@Sexo.Femenino</option>
                                    <option value="Masculino" selected="selected">@Sexo.Masculino</option>
                                    break;
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Complexion Fisica</label></td>
                    <td>
                        <select name="userdata.PhysicalComplexion" >
                            @switch (Model.PhysicalComplexion)
                            {
                                case ComplexionFisica.Pequena:
                                    <option value="@ComplexionFisica.Pequena" selected="selected">Pequeña</option>
                                    <option value="@ComplexionFisica.Mediana">Mediana</option>
                                    <option value="@ComplexionFisica.Grande">Grande</option>       
                                    break;
                                case ComplexionFisica.Mediana:
                                    <option value="@ComplexionFisica.Pequena">Pequeña</option>
                                    <option value="@ComplexionFisica.Mediana" selected="selected">Mediana</option>
                                    <option value="@ComplexionFisica.Grande">Grande</option>       
                                    break;
                                case ComplexionFisica.Grande:
                                    <option value="@ComplexionFisica.Pequena">Pequeña</option>
                                    <option value="@ComplexionFisica.Mediana">Mediana</option>
                                    <option value="@ComplexionFisica.Grande" selected="selected">Grande</option>  
                                    break;
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Nivel de Actividad</label></td>
                    <td>
                        <select name="userdata.LevelActivity">
                            @switch (Model.LevelActivity)
                            {
                                case Nivel.MuyLeve:
                                    <option value="@Nivel.MuyLeve" selected="selected">Muy Leve</option>
                                    <option value="@Nivel.Leve">Leve</option>
                                    <option value="@Nivel.Moderado">Moderado</option>
                                    <option value="@Nivel.Intenso">Intenso</option>
                                    <option value="@Nivel.Excepcional">Excepcional</option>
                                    break;
                                case Nivel.Leve:
                                    <option value="@Nivel.MuyLeve">Muy Leve</option>
                                    <option value="@Nivel.Leve" selected="selected">Leve</option>
                                    <option value="@Nivel.Moderado">Moderado</option>
                                    <option value="@Nivel.Intenso">Intenso</option>
                                    <option value="@Nivel.Excepcional">Excepcional</option>
                                    break;
                                case Nivel.Moderado:
                                    <option value="@Nivel.MuyLeve">Muy Leve</option>
                                    <option value="@Nivel.Leve">Leve</option>
                                    <option value="@Nivel.Moderado" selected="selected">Moderado</option>
                                    <option value="@Nivel.Intenso">Intenso</option>
                                    <option value="@Nivel.Excepcional">Excepcional</option>
                                    break;
                                case Nivel.Intenso:
                                    <option value="@Nivel.MuyLeve">Muy Leve</option>
                                    <option value="@Nivel.Leve">Leve</option>
                                    <option value="@Nivel.Moderado">Moderado</option>
                                    <option value="@Nivel.Intenso" selected="selected">Intenso</option>
                                    <option value="@Nivel.Excepcional">Excepcional</option>
                                    break;
                                case Nivel.Excepcional:
                                    <option value="@Nivel.MuyLeve">Muy Leve</option>
                                    <option value="@Nivel.Leve">Leve</option>
                                    <option value="@Nivel.Moderado">Moderado</option>
                                    <option value="@Nivel.Intenso">Intenso</option>
                                    <option value="@Nivel.Excepcional" selected="selected">Excepcional</option>
                                    break;
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Salvar" class="btn btn-default"  />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>